
a{
    text-decoration: none;
}
span{
font-weight: bold;
}
    b {
        text-align: center;
    }
h1:hover{
    color: blue;
}
.ALI{
    text-align: center;
}

body{
    font-family: Sans-serif;
}

